<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977909482754-fnhsge0fkenovd70gvpbovb3l9p0pu9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977909482754-fnhsge0fkenovd70gvpbovb3l9p0pu9e</string>
	<key>API_KEY</key>
	<string>AIzaSyCfsqmzzf4kt5tQ-PDWtz6vyJbpCeQpyKo</string>
	<key>GCM_SENDER_ID</key>
	<string>977909482754</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>loginfirebase12342</string>
	<key>STORAGE_BUCKET</key>
	<string>loginfirebase12342.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977909482754:ios:5e009404a0d5134733ae1b</string>
	<key>DATABASE_URL</key>
	<string>https://loginfirebase12342-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>